In [ ]:
import pandas as pd
data = pd.read_csv('ner_dataset.csv', encoding= 'unicode_escape')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [ ]:
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    else:
        vocab = list(set(data['Tag'].to_list()))
    
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok


token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [ ]:
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)
data.head()

    Sentence #           Word  POS Tag  Word_idx  Tag_idx
0  Sentence: 1      Thousands  NNS   O     14436        0
1          NaN             of   IN   O     12766        0
2          NaN  demonstrators  NNS   O     12042        0
3          NaN           have  VBP   O      8337        0
4          NaN        marched  VBN   O     11242        0

In [ ]:
data_fillna = data.fillna(method='ffill', axis=0)
data_group = data_fillna.groupby(
['Sentence #'],as_index=False
)['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))
data_group.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

,Sentence #,Word,POS,Tag,Word_idx,Tag_idx
0,Sentence: 1,"[Thousands, of, demonstrators, have, marched, ...","[NNS, IN, NNS, VBP, VBN, IN, NNP, TO, VB, DT, ...","[O, O, O, O, O, O, B-geo, O, O, O, O, O, B-geo...","[14436, 12766, 12042, 8337, 11242, 15133, 1972...","[0, 0, 0, 0, 0, 0, 14, 0, 0, 0, 0, 0, 14, 0, 0..."
1,Sentence: 10,"[Iranian, officials, say, they, expect, to, ge...","[JJ, NNS, VBP, PRP, VBP, TO, VB, NN, TO, JJ, J...","[B-gpe, O, O, O, O, O, O, O, O, O, O, O, O, O,...","[5739, 7175, 4430, 29229, 18436, 29818, 13470,...","[12, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
2,Sentence: 100,"[Helicopter, gunships, Saturday, pounded, mili...","[NN, NNS, NNP, VBD, JJ, NNS, IN, DT, NNP, JJ, ...","[O, O, B-tim, O, O, O, O, O, B-geo, O, O, O, O...","[27522, 5205, 28566, 17630, 14343, 23846, 4726...","[0, 0, 5, 0, 0, 0, 0, 0, 14, 0, 0, 0, 0, 0, 2,..."
3,Sentence: 1000,"[They, left, after, a, tense, hour-long, stand...","[PRP, VBD, IN, DT, NN, JJ, NN, IN, NN, NNS, .]","[O, O, O, O, O, O, O, O, O, O, O]","[20588, 8788, 15276, 3079, 31683, 18271, 27520...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,Sentence: 10000,"[U.N., relief, coordinator, Jan, Egeland, said...","[NNP, NN, NN, NNP, NNP, VBD, NNP, ,, NNP, ,, J...","[B-geo, O, O, B-per, I-per, O, B-tim, O, B-geo...","[2149, 26708, 27670, 20639, 16108, 7408, 1536,...","[14, 0, 0, 6, 11, 0, 5, 0, 14, 0, 12, 0, 12, 0..."

In [ ]:
from sklearn.model_selection import train_test_split
from keras_preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

In [ ]:
def get_pad_train_test_val(data_group, data):

    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))
 
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 32372
train_tokens length: 32372
test_tokens length: 4796
test_tags: 4796
val_tokens: 10791
val_tags: 10791

In [ ]:
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

In [ ]:
from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)

In [ ]:
input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
n_tags = len(tag2idx)
print('input_dim: ', input_dim, '\noutput_dim: ', output_dim, '\ninput_length: ', input_length, '\nn_tags: ', n_tags)

input_dim:  35179
output_dim:  64
input_length:  104
n_tags:  17

In [ ]:
def get_bilstm_lstm_model():
    model = Sequential()
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()
    
    return model

In [ ]:
def train_model(X, y, model):
    loss = list()
    for i in range(25):
        # fit model for one epoch on this sequence
        hist = model.fit(X, y, batch_size=1000, verbose=1, epochs=1, validation_split=0.2)
        loss.append(hist.history['loss'][0])
    return loss

In [ ]:
results = pd.DataFrame()
model_bilstm_lstm = get_bilstm_lstm_model()
plot_model(model_bilstm_lstm)
results['with_add_lstm'] = train_model(train_tokens, np.array(train_tags), model_bilstm_lstm)

WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
WARNING:tensorflow:Layer lstm_1 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 104, 64)           2251456

 bidirectional (Bidirectiona  (None, 104, 128)         66048
 l)

 lstm_1 (LSTM)               (None, 104, 64)           49408

 time_distributed (TimeDistr  (None, 104, 17)          1105
 ibuted)

=================================================================
Total params: 2,368,017
Trainable params: 2,368,017
Non-trainable params: 0
_________________________________________________________________
26/26 [==============================] - 44s 1s/step - loss: 0.8492 - accuracy: 0.9177 - val_loss: 0.3209 - val_accuracy: 0.9681
26/26 [==============================] - 36s 1s/step - loss: 0.3417 - accuracy: 0.9677 - val_loss: 0.3122 - val_accuracy: 0.9681
26/26 [==============================] - 34s 1s/step - loss: 0.3229 - accuracy: 0.9677 - val_loss: 0.2898 - val_accuracy: 0.9681
26/26 [==============================] - 35s 1s/step - loss: 0.3464 - accuracy: 0.9677 - val_loss: 0.2869 - val_accuracy: 0.9681
26/26 [==============================] - 34s 1s/step - loss: 0.2991 - accuracy: 0.9677 - val_loss: 0.2776 - val_accuracy: 0.9681
26/26 [==============================] - 34s 1s/step - loss: 0.2921 - accuracy: 0.9678 - val_loss: 0.2811 - val_accuracy: 0.9682
26/26 [==============================] - 35s 1s/step - loss: 0.2864 - accuracy: 0.9678 - val_loss: 0.2752 - val_accuracy: 0.9682
26/26 [==============================] - 34s 1s/step - loss: 0.2949 - accuracy: 0.9678 - val_loss: 0.2822 - val_accuracy: 0.9682
26/26 [==============================] - 34s 1s/step - loss: 0.2789 - accuracy: 0.9678 - val_loss: 0.2695 - val_accuracy: 0.9682
26/26 [==============================] - 35s 1s/step - loss: 0.2731 - accuracy: 0.9679 - val_loss: 0.2707 - val_accuracy: 0.9682
26/26 [==============================] - 33s 1s/step - loss: 0.2647 - accuracy: 0.9679 - val_loss: 0.2510 - val_accuracy: 0.9683
26/26 [==============================] - 33s 1s/step - loss: 0.2423 - accuracy: 0.9680 - val_loss: 0.2249 - val_accuracy: 0.9684
26/26 [==============================] - 33s 1s/step - loss: 0.2260 - accuracy: 0.9679 - val_loss: 0.2307 - val_accuracy: 0.9683
26/26 [==============================] - 33s 1s/step - loss: 0.2204 - accuracy: 0.9680 - val_loss: 0.2116 - val_accuracy: 0.9684
26/26 [==============================] - 32s 1s/step - loss: 0.2116 - accuracy: 0.9680 - val_loss: 0.2106 - val_accuracy: 0.9684
26/26 [==============================] - 32s 1s/step - loss: 0.2144 - accuracy: 0.9680 - val_loss: 0.2105 - val_accuracy: 0.9684
26/26 [==============================] - 32s 1s/step - loss: 0.2032 - accuracy: 0.9680 - val_loss: 0.2048 - val_accuracy: 0.9684
26/26 [==============================] - 32s 1s/step - loss: 0.1981 - accuracy: 0.9681 - val_loss: 0.2035 - val_accuracy: 0.9684
26/26 [==============================] - 34s 1s/step - loss: 0.1959 - accuracy: 0.9681 - val_loss: 0.2018 - val_accuracy: 0.9687
26/26 [==============================] - 32s 1s/step - loss: 0.1713 - accuracy: 0.9681 - val_loss: 0.1636 - val_accuracy: 0.9686
26/26 [==============================] - 32s 1s/step - loss: 0.1588 - accuracy: 0.9683 - val_loss: 0.2469 - val_accuracy: 0.9690
26/26 [==============================] - 32s 1s/step - loss: 0.1747 - accuracy: 0.9683 - val_loss: 0.1670 - val_accuracy: 0.9685
26/26 [==============================] - 32s 1s/step - loss: 0.1465 - accuracy: 0.9684 - val_loss: 0.1413 - val_accuracy: 0.9688
26/26 [==============================] - 33s 1s/step - loss: 0.1229 - accuracy: 0.9686 - val_loss: 0.1339 - val_accuracy: 0.9690
26/26 [==============================] - 32s 1s/step - loss: 0.1109 - accuracy: 0.9686 - val_loss: 0.1191 - val_accuracy: 0.9690